
/*
    Stylesheet for temperature converter
    By: Mo Xue
    ASP.NET Lab 1
*/
.validator {
    color: #FF0000;
    font-weight: bold;
    }

h3 {
    color: gold;
}

td {
    border: 2px solid blue;
    padding: 5px;
}

.no-border {
    border: none;
}

img {
    width: 320px;
    height: 240px;
}

.button {
    width: 120px;
    background-color: chocolate;
}